<p align="center">
  Super Market APP - Under construction
</p>
<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button (click)="snav.toggle()" >
			<mat-icon>menu</mat-icon>
		</button>
		<button id="editButton" mat-icon-button disabled>
			<mat-icon>edit icon</mat-icon>
		</button>
		<button id="addButton" mat-icon-button disabled>
			<mat-icon>add icon</mat-icon>
		</button>
		<button id="removeButton" mat-icon-button disabled (click)="confirmDialog()"> 
			<mat-icon>remove icon</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Open Deliveries
    </mat-panel-title>
    <mat-panel-description>
      On going deliveries
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel *ngFor="let delivery of openDeliveries">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-checkbox id="D{{ delivery.deliveryId }}" 
					(click)="blockCollapseOfDelivery($event)"
					(change)="deliverySelected()">
					Delivery ID: {{ delivery.deliveryId }}
				</mat-checkbox>
			</mat-panel-title>
			<mat-panel-description>
				Cutomer Name: {{ delivery.customerName }}
			</mat-panel-description>
			<mat-panel-description>
				Total Price: {{ delivery.totalPrice }}
			</mat-panel-description>
		</mat-expansion-panel-header>
			<table style="width:100%">
			<tr>
				<th></th>
				<th align="left">Item Code</th>
				<th align="left">Price</th>
				<th align="left">Name</th>
				<th align="left">Brand</th>
				<th align="left">Description</th>
				<th align="left">Weight</th>
			</tr>
			<tr *ngFor="let item of delivery.items">
				<mat-checkbox (change)="itemCheckBoxSelected()" id="I{{ item.itemId }}"></mat-checkbox>
				<td hidden>{{ item.deliveryId}}</td>
				<td>{{ item.itemCode }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.name }}</td>
				<td>{{ item.brand }}</td>
				<td>{{ item.description }}</td>
				<td>{{ item.weight }}</td>
			</tr>
		</table>
	</mat-expansion-panel>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Future Deliveries
    </mat-panel-title>
    <mat-panel-description>
      Deliveries to be opened
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel *ngFor="let delivery of futureDeliveries">
		<mat-expansion-panel-header>
			<mat-panel-title>
					<mat-checkbox id="D{{ delivery.deliveryId }}" 
					(click)="blockCollapseOfDelivery($event)"
					(change)="deliverySelected()">
					Delivery ID: {{ delivery.deliveryId }}
				</mat-checkbox>
			</mat-panel-title>
			<mat-panel-description>
				Cutomer Name: {{ delivery.customerName }}
			</mat-panel-description>
			<mat-panel-description>
				Total Price: {{ delivery.totalPrice }}
			</mat-panel-description>
			</mat-expansion-panel-header>
			<table style="width:100%">
			<tr>
				<th></th>
				<th align="left">Item Code</th>
				<th align="left">Price</th>
				<th align="left">Name</th>
				<th align="left">Brand</th>
				<th align="left">Description</th>
				<th align="left">Weight</th>
			</tr>
			<tr *ngFor="let item of delivery.items">
				<mat-checkbox (change)="itemCheckBoxSelected()" id="I{{ item.itemId }}"></mat-checkbox>
				<td hidden>{{ item.deliveryId}}</td>
				<td>{{ item.itemCode }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.name }}</td>
				<td>{{ item.brand }}</td>
				<td>{{ item.description }}</td>
				<td>{{ item.weight }}</td>
			</tr>
		</table>
	</mat-expansion-panel>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Closed Deliveries
    </mat-panel-title>
    <mat-panel-description>
      Deliveries already done
    </mat-panel-description>
  </mat-expansion-panel-header>
	<mat-expansion-panel *ngFor="let delivery of closedDeliveries">
		<mat-expansion-panel-header>
			<mat-panel-title>
					<mat-checkbox id="D{{ delivery.deliveryId }}" 
					(click)="blockCollapseOfDelivery($event)"
					(change)="deliverySelected()">
					Delivery ID: {{ delivery.deliveryId }}
				</mat-checkbox>
			</mat-panel-title>
			<mat-panel-description>
				Cutomer Name: {{ delivery.customerName }}
			</mat-panel-description>
			<mat-panel-description>
				Total Price: {{ delivery.totalPrice }}
			</mat-panel-description>
			</mat-expansion-panel-header>
			<table style="width:100%">
			<tr>
				<th></th>
				<th align="left">Item Code</th>
				<th align="left">Price</th>
				<th align="left">Name</th>
				<th align="left">Brand</th>
				<th align="left">Description</th>
				<th align="left">Weight</th>
			</tr>
			<tr *ngFor="let item of delivery.items">
				<mat-checkbox (change)="itemCheckBoxSelected()" id="I{{ item.itemId }}"></mat-checkbox>
				<td hidden>{{ item.deliveryId}}</td>
				<td>{{ item.itemCode }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.name }}</td>
				<td>{{ item.brand }}</td>
				<td>{{ item.description }}</td>
				<td>{{ item.weight }}</td>
			</tr>
		</table>
	</mat-expansion-panel>
</mat-expansion-panel>
