<p>
  Super Market APP - Under construction
</p>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Open Deliveries
    </mat-panel-title>
    <mat-panel-description>
      On going deliveries
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Future Deliveries
    </mat-panel-title>
    <mat-panel-description>
      Deliveries to be opened
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Closed Deliveries
    </mat-panel-title>
    <mat-panel-description>
      Deliveries already done
    </mat-panel-description>
  </mat-expansion-panel-header>
	<mat-expansion-panel *ngFor="let delivery of deliveries">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Delivery ID: {{ delivery.deliveryId }}
			</mat-panel-title>
			<mat-panel-description>
				Cutomer Name: {{ delivery.customer }}
			</mat-panel-description>
			<mat-panel-description>
				Total Price: {{ delivery.totalPrice }}
			</mat-panel-description>
			</mat-expansion-panel-header>
			<table style="width:100%">
			<tr>
				<th align="left">Item Code</th>
				<th align="left">Price</th>
				<th align="left">Name</th>
				<th align="left">Brand</th>
				<th align="left">Description</th>
				<th align="left">Weight</th>
			</tr>
			<tr *ngFor="let item of delivery.items">
				<td>{{ item.itemCode }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.name }}</td>
				<td>{{ item.brand }}</td>
				<td>{{ item.description }}</td>
				<td>{{ item.weight }}</td>
			</tr>
		</table>
	</mat-expansion-panel>
</mat-expansion-panel>
