<form>
    <mat-form-field>
      <mat-label>Delivery ID</mat-label>
      <input matInput cdkTextareaAutosize disabled value="{{ delivery.deliveryId }}">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Customer ID</mat-label>
      <input matInput cdkTextareaAutosize disabled value="{{ delivery.customerId }}">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Customer Name</mat-label>
      <input matInput cdkTextareaAutosize value="{{ delivery.customerName }}">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <input matInput cdkTextareaAutosize value="{{ delivery.status }}">
    </mat-form-field>
    
    <button mat-raised-button>Update</button>
  </form>